name: Publish

on:
  push:
    branches:
      - main

jobs:
  test:
    name: Test
    uses: ./.github/workflows/tests.yml
    secrets: inherit
  release:
    name: Release
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install jq
        uses: dcarbone/install-jq-action@v2
      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: latest
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - name: Release on GitHub
        run: pnpm --package conventional-changelog-conventionalcommits --package semantic-release dlx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Update version for JSR registry
        run: |
          VERSION=$(node -p "require('./package.json').version")
          jq --arg version "$VERSION" '.version = $version' jsr.json > jsr.json.tmp
          mv jsr.json.tmp jsr.json
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: Publish package to JSR
        if: env.VERSION != '0.0.0-development'
        run: pnpm dlx jsr publish
