name: Tests

on:
  workflow_call:
  pull_request:
    branches:
      - main

jobs:
  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
      - name: Setup toolchains
        uses: jdx/mise-action@be3be2260bc02bc3fbf94c5e2fed8b7964baf074 # v3.4.0
      - name: Install dependencies
        run: pnpm install
      - name: Prettier check
        run: pnpm test:prettier
      - name: Checks for known security issues with the installed packages
        run: pnpm audit
      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: pnpm npm audit signatures
      - name: Verify the package for publishing performing all checks and validations
        run: pnpm dlx jsr publish --dry-run
  node:
    name: Node
    needs: lints
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18, 20, 21]
    steps:
      - uses: actions/checkout@v4
      - name: Setup toolchains
        uses: jdx/mise-action@be3be2260bc02bc3fbf94c5e2fed8b7964baf074 # v3.4.0
      - name: Install dependencies
        run: pnpm install
      - name: Run unit tests
        run: pnpm test -- --environment=node
  test:
    name: Test
    needs: lints
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [edge-runtime, jsdom, happy-dom]
    steps:
      - uses: actions/checkout@v4
      - name: Setup toolchains
        uses: jdx/mise-action@be3be2260bc02bc3fbf94c5e2fed8b7964baf074 # v3.4.0
      - name: Install dependencies
        run: pnpm install
      - name: Run unit tests
        run: pnpm test -- --environment=${{ matrix.environment }}
  benchmark:
    name: Benchmark
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup toolchains
        uses: jdx/mise-action@be3be2260bc02bc3fbf94c5e2fed8b7964baf074 # v3.4.0
      - name: Install Dependencies
        run: pnpm install
      - name: Run Benchmarks
        uses: CodSpeedHQ/action@4348f634fa7309fe23aac9502e88b999ec90a164 # v4.3.1
        with:
          run: pnpm vitest bench
          mode: 'instrumentation'
          token: ${{ secrets.CODSPEED_TOKEN }}
  deno:
    name: Deno
    needs: lints
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Deno
        uses: denoland/setup-deno@v1
      - name: Type-check the dependencies
        run: deno check src/index.ts
